* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.container {
  margin: auto;
  width: 60%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
}

.info-text {
  width: 100%;
  height: 30px;
  margin-top: 30px;
}
.no-name-span {
  padding: 20px;
}

.currency-info {
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}

.amount-convert {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.select-currency-option {
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.no-name-span {
  font-size: 30px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .container {
    height: 400px;
  }

  .container-title {
    width: 100%;
    flex-direction: row;
  }

  .title {
    justify-content: space-between;
  }

  .currency-info {
    font-size: 20px;
  }

  h1 {
    font-weight: bold;
    font-size: 50px;
  }

  .select-currency-option {
    margin-top: 0px;
  }

  .amount-convert-before-inp {
    margin-top: 0px;
  }

  .amount-convert-after-inp {
    margin-left: 20px;
  }
}
